# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /  

#     # Redirect Trailing Slashes...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)/$ /$1 [L,R=301]

#     # Redirect all requests to index.php
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ index.php/$1 [L]
# </IfModule>

# # Disable directory browsing
# Options -Indexes


<IfModule mod_rewrite.c>
    RewriteEngine On
    # Since the project is in the root folder, RewriteBase should be /
    RewriteBase /eadmission_logbook/

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Remove index.php from URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Disable directory browsing
Options -Indexes